* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}
body{
    background-color:  #e2e7e6;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
}

.nav-logo {
    height: 50px;
    width: 128px;
    display: flex;
    align-items: center;
}

.logo {
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/** Box2  **/

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec {
    font-size: 1rem;
    margin-left: 4px;
}

.add-icon {
    display: flex;
    align-items: center;
}

.nav-address {
    padding: 10px;
}

/**Box3 **/

.nav-search {
    display: flex;
    width: 773px;
    /* height: 35px; */
    border-radius: 4px;
    height: 45px;
    justify-content: space-evenly;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
}

.search-input {
    width: 100%;
    font-size: 1rem;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
    cursor: pointer;
}

.nav-search:hover {
    border: 2px solid orange;
}

/** Box4 **/

.nav-language {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 15px;
    font-weight: 600;
}

/** Box5 **/

span {
    font-size: 0.8rem;
}

.nav-second {
    font-size: 0.9rem;
    font-weight: 700;
}

.cart {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.cart p {
    margin-left: 9px;
    margin-top: 7px;
    font-weight: 700;
}

.cart i {
    font-size: 25px;
}

.nav-return {
    padding: 10px;
}

.nav-signin {
    padding: 10px;
}

.nav-language {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 15px;
    font-weight: 600;
}

/** Sub Nav Bar **/

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    position: relative;
    top: 60px;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
    cursor: pointer;
}

.panel-deals {
    font-size: 0.99rem;
    font-weight: 700;
    cursor: pointer;
}

.panel-all {
    cursor: pointer;
}


/** Hero Image  **/

.hero-section {
    background-image: url("hero.jpg");
    height: 280px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 60px;
    width: 100%;
}

.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 25px
}

.hero-msg a {
    color: #007125;
}

/** Shop Section **/

.shop-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    height: 420px;
    width: 23%;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px 0px 15px;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: #007185;
    cursor: pointer;
}

.box-img {
    height: 300px;
    background-size: cover;
    margin: 20px 0px;
}

.box1 {
    background-image: url("box1_image.jpg");
}

.box2 {
    background-image: url("box2_image.jpg");
}

.box3 {
    background-image: url("box3_image.jpg");
}

.box4 {
    background-image: url("box4_image.jpg");
}

.box5 {
    background-image: url("box5_image.jpg");
}

.box6 {
    background-image: url("box6_image.jpg");
}

.box7 {
    background-image: url("box7_image.jpg");
}

.box8 {
    background-image: url("box8_image.jpg");
}

/* Slide Products */

.scroll_product {
    width: 96%;
    margin: 20px auto;
    padding:20px;
    background-color: #fff;
}

.scroll_product .products{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: auto;
}

.products img{
    /* border: 2px solid black; */
    margin: 0px 20px;
    margin-bottom: 20px;
    width: 200px;
}
.scroll_product h3{
    margin-bottom: 10px;
}
.products::-webkit-scrollbar{
    height: 8px;
}

.products::-webkit-scrollbar-track{
  border-radius: 10px;
  
}

.products::-webkit-scrollbar-thumb{
   background-color: #fff;
   border-radius: 10px;
  }
  .products::-webkit-scrollbar-thumb:hover{
    background-color: #b4b2b2;
    border-radius: 10px;
    cursor: pointer; 
   }

   /* Offers */

   .offer{
    width: 96%;
    margin: 10px auto;
    background-color: #fff;
    padding: 20px;
   }
   .offer img{
    width: 100%;
    /* height: 40vh; */
   }

   /* Shop offer section 2 */

   
.box9 {
    background-image: url("shop2_offer1.jpg");
}

.box10 {
    background-image: url("shop2_offer2.jpg");
}

.box11 {
    background-image: url("shop2_offer3.jpg");
}

.box12 {
    background-image: url("shop2_offer4.jpg");
}


.fot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.fot-panel2 li {
    list-style: none;
}

ul li {
    font-size: 0.90rem;
    margin: 10px;
    font-weight: 100;
    color: #dddddd;
}

ul p {
    font-weight: 700;
    font-size: 1rem;
}

.fot-panel3 {
    background-color: #222f3d;
    border-top: 0.1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    width: 100px;
    height: 50px;
}

.fot-panel4 {
    background-color: #181c1c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    text-align: center;
}

.fot-panel4 ul li {
    color: white;
    list-style: none;
    display: inline;
    text-align: center;
}

.pages {
    font-size: 0.7rem;
    padding: 25px;
}

.copyright {
    font-size: 0.7rem;
    pad: 5px;
}

    
